@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*, html, body, [class*="css"] {
    font-family: 'Cabin', sans-serif;
}