@font-face {
    font-family: 'Geist', sans-serif;
    src: url(./GeistVF.ttf) format('woff2');
    /* variable font */
    font-weight: 100 200 300 400 500 600 700 800 900;
}

*, html, body, [class*="css"] {
    font-family: 'Geist', sans-serif;
    
}